#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.App {
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.352);
    box-shadow: 0 0px 20px 10px rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 0px 20px 10px rgb(255, 255, 255);
    transform: scale(1.1);
}

img {
    width: inherit;
    height: inherit;
}
