#root {
    margin: 0 auto;
    text-align: center;
}
.App {
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    width: 200px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.605);
    border: 1px solid black;
    box-shadow: 0 0px 2px 1px rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    transition-property: transform, box-shadow;
    transition: 0.15s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 30px 5px rgb(255, 255, 255);
}

img {
    height: inherit;
}

@media (max-width: 914px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 110px;
        height: 200px;
    }
}
